.carPage {
	display: flex;
	align-items: center;
	gap: 3rem;
	background-color: gainsboro;
	border-radius: 1rem;
	padding: 2rem;
	padding-left: 3rem;
	font-size: 2rem;
	position: relative;
}
.carPage_arrow {
	position: absolute;
	left: 1rem;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.carPage_skeleton {
	min-height: 472px;
	border-radius: 1rem;
	background-color: gainsboro;
	animation: pulse 1s infinite;
}
