.cars {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}
.cars_content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}
.cars_filterContainer {
	width: 60%;
	display: flex;
	justify-content: space-around;
}
