.cars_filterUp {
	color: lightslategray;
	position: absolute;
	cursor: pointer;
	right: 3%;
	top: -115%;
	transition: 0.2s;
}
.cars_filterDown {
	color: lightslategray;
	position: absolute;
	cursor: pointer;
	right: 10%;
	top: -115%;
	transition: 0.2s;
}

.cars_filterUp:hover,
.cars_filterDown:hover {
	scale: 1.05;
}

@media (max-width: 1320px) {
	.cars_filterUp {
		scale: 0.5;
	}
	.cars_filterDown {
		scale: 0.5;
	}
}
